{% extends template.html %}

<title> Information</title>
{%block body%}
<style>
    .text {
        color: #131312e6;
        width: 100%;
        padding: 50px;
        font-size: larger;
        text-align: center;
        text-decoration: dotted;
    }
</style>

<body>
    


    <div class="text">

        <p>
        <h2>Real Time Passenger Information (RTPI)</h2>
        Real-Time Passenger Information (RTPI) is a system designed to provide real-time information about public transportation services to passengers. 
        This system provides passengers with real-time information about the availability of public transport services, including arrival times, departure times, delays, and cancellations. 
        RTPI helps passengers to plan their journey efficiently, reducing the time and cost of travel. 
        It also helps to reduce overcrowding on public transport services, as passengers can plan their journeys in advance and avoid peak times. 
        RTPI can be used in combination with smart ticketing systems to further improve the efficiency of public transport services.
        Real Time Passenger Information is a system used by public transportation providers to provide passengers with accurate, up-to-date information about the arrival and departure times of their services.
         RTPI systems are typically linked to a central database that is updated in real-time with information from the transportation provider's systems. 
         This information is then broadcast to passengers in a variety of formats, such as on digital display boards, via interactive voice response (IVR) systems, or through mobile applications. 
         RTPI systems can provide passengers with information about the estimated time of arrival of their bus or train, the next stop or station on their route, and any delays or service disruptions.</p>
    </div>

</body>

{%endblock body%}